@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: ui-monospace;
}
.main-grid-container {
  display: grid;
  grid-template-columns: 25% 70%;
  padding: 10px;
}

.date-source-container {
  display: grid;
  grid-template-columns: 30% 20%;
  gap: 50%;
}

.article-preview-container {
  display: grid;
  grid-template-columns: 15% 80%;
  padding: 10px;
}

.sort-icons {
  display: inline-flex;
  padding-left: 65%;
}

input {
  margin-right: 10px;
}

.date-div {
  font-size: small;
  color: gray;
}

.title-div {
  font-size: large;

  font-weight: bolder;
}

p {
  line-height: normal;
  font-size: medium;
}

.author-div {
  font-size: medium;
  font-weight: 800;
}

.no-items {
  font-size: x-large;
  font-weight: bolder;
  position: fixed;
  top: 40%;
  right: 40%;
}
