@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: ui-monospace;
}

.article-preview {
  cursor: pointer;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 25% 65%;
  padding: 10px;
  gap: 1%;
}

.date-source-container {
  display: grid;
  grid-template-columns: 30% 20%;
  gap: 65%;
}

.article-preview-container {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 10px 10px 0 10px;;
  height: 18vh;
  gap: 2%;
}

.sort-icons {
  display: inline-flex;
  padding-left: 65%;
}

input {
  margin-right: 10px;
}

.date-div {
  font-size: small;
  color: gray;
}

.title-div {
  font-size: large;

  font-weight: bolder;
}

p {
  line-height: normal;
  font-size: medium;
}

.author-div {
  font-size: small;
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 800;
}

.no-items {
  font-size: x-large;
  font-weight: bolder;
  position: fixed;
  top: 40%;
  right: 40%;
}

span {
  padding-left: 6px;
  padding-right: 6px;
}

.selected {
  background-color: black;
  color: white;
  border-radius: 6px;
}
